body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
}

/* Estilos para los campos de entrada */
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 15px; /* Aumenta el padding para hacer los campos más altos */
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    margin: 0 auto; /* Centra los campos horizontalmente */
    box-sizing: border-box; /* Incluye el padding y el borde en el ancho total */
    max-width: 100%; /* Evita que los campos sean más anchos que su contenedor */
}

.login-container {
    max-width: 450px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
}

.logo {
    max-width: 150px; /* Ajusta el tamaño del logo */
    margin-bottom: 20px;
}

.input-wrapper {
    position: relative;
    margin-bottom: 15px;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
}

.password-field img {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 20px;
    cursor: pointer;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #6c757d; /* Color inicial */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:disabled {
    background-color: #bbb;
    cursor: not-allowed;
}

.link-wrapper {
    margin-top: 15px;
}

.forgot-link, .token-link, .create-account-link {
    color: #4a4b4f;
    text-decoration: none;
    size: 8px;
}

.footer {
    background-color: #fff;
    color: #e40a18;
    padding: 10px;
    border-radius: 5px;
    margin-top: 50px; /* Aumenta el margen superior para que esté más abajo */
}


.padlock-icon {
    width: 20px;
    margin-right: 5px;
}

/* Estilos para dispositivos pequeños */
@media (max-width: 600px) {
    .login-container {
        width: 90%;
        margin: 20px auto;
    }
}
/* ... (estilos previos) ... */

.input-label {
    color: #5b5c5e; /* Color azul oscuro para los títulos de los campos */
    font-size: 16px;
    margin-bottom: 5px;
    text-align: left; /* Alinea el texto a la izquierda */

}

/* ... (resto de los estilos) ... */
